.home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--backgroud-color);
    padding: 24px;
}

.align-library {
    display: flex;
    justify-content: left;
    align-items: center;
}

.library {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
}