.home {
    max-width: 960px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: azure;
    padding: 24px;
}

.align-library {
    display: flex;
    justify-content: center;
    align-items: center;
}

.library {
    margin: 24px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
}