.home {
    background-color: var(--backgroud-color);
    padding: 24px;
}

.align-library {
    display: flex;
    justify-content: center;
    align-items: center;
}

.library {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
}