.field {
    margin: 8px;
    margin-bottom: 16px;
}

.field label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
    font-size: 16px;
}

.field input {
    background: none;
    border: 1px solid var(--theme-color);
    padding: 8px;
    font-size: 16px;
    color: var(--text-color);
}