.save-button {
    z-index: 5;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    position: fixed;
    right: 24px;
    bottom: 24px;
    border-radius: 50%;
    cursor: pointer;
}