.create-book-page {
    padding: 24px;
    margin: 0 auto;
}

.create-book-page form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}